<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/pollysbrollies</property>
        <property name="hibernate.connection.username">Dev</property>
        <property name="hibernate.connection.password">432719Jh.</property>
        <property name="show_sql">true</property>
		<!-- List of XML mapping files -->
		<mapping resource="DataAccess/customers.hbm.xml"/>
		<mapping resource="DataAccess/colours.hbm.xml"/>
		<mapping resource="DataAccess/orderItems.hbm.xml"/>
		<mapping resource="DataAccess/orders.hbm.xml"/>
		<mapping resource="DataAccess/products.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
